APP_ENV=development
APP_DEBUG=false
APP_URL=http://localhost/proyecto_cava_Noble

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=nombre_base
DB_USERNAME=root
DB_PASSWORD=

TURNSTILE_SITE_KEY=your_site_key
TURNSTILE_SECRET_KEY=your_secret_key

ADMIN_NAME=Administrador
ADMIN_LASTNAME=Cava Noble
ADMIN_USERNAME=admin
ADMIN_DNI=20123456
ADMIN_EMAIL=admin@cavanoble.com
ADMIN_PASSWORD=change_me